.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.bg-c-yellow-pink {
    background: linear-gradient(45deg, #EEBD98, #D13ABD);
}

.bg-c-lavander {
    background: linear-gradient(45deg, #9600FF, #AEBAFF);
}

.bg-c-violet-pink {
    background: linear-gradient(45deg, #BB73E0, #FF8DDB);
}

.bg-c-orange-yellow {
    background: linear-gradient(45deg, #F9957F, #F2F5D0);
}

.bg-c-crimson-violet {
    background: linear-gradient(45deg, #B60F46, #D592FF);
}

.bg-c-torquis-violet {
    background: linear-gradient(45deg, #A3C9E2, #9618F7);
}

.bg-c-peach-maroon {
    background: linear-gradient(45deg, #E65758, #771D32);
}

.bg-c-violet-teal {
    background: linear-gradient(45deg, #C22ED0, #5FFAE0);
}

.bg-c-crimson-cyan-teal {
    background: linear-gradient(45deg, #07A3B2, #D9ECC7);
}


.bg-c-white {
    background: #ffffff;
}



/*Jr High*/




.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
